<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header-kopie","theme":"bujattigasse","align":"wide"} /-->

    <!-- wp:group {"align":"wide","style":{"color":{"background":"#ebfbd7"},"border":{"radius":{"bottomLeft":"0.5rem","bottomRight":"0.5rem"}},"elements":{"link":{"color":{"text":"var:preset|color|yellowgreen"}}}},"textColor":"yellowgreen","className":"mt-0","layout":{"type":"constrained"},"metadata":{"name":""}} -->
    <div class="wp-block-group alignwide mt-0 has-yellowgreen-color has-text-color has-background has-link-color" style="border-bottom-left-radius:0.5rem;border-bottom-right-radius:0.5rem;background-color:#ebfbd7"><!-- wp:post-title {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10","left":"var:preset|spacing|10","right":"var:preset|spacing|10"}},"typography":{"fontStyle":"normal","fontWeight":"700"}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"main"} -->
    <main class="wp-block-group"><!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /--></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"bujattigasse","tagName":"footer","area":"footer"} /-->